<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wlld.myjecs.mapper.AdminMapper">

    <resultMap id="BaseResultMap" type="com.wlld.myjecs.entity.Admin">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <id property="account" column="account" jdbcType="VARCHAR"/>
            <result property="pass_word" column="pass_word" jdbcType="VARCHAR"/>
            <result property="pass" column="pass" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,account,pass_word,
        pass,name
    </sql>
</mapper>
