<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wlld.myjecs.mapper.KeywordTypeMapper">

    <resultMap id="BaseResultMap" type="com.wlld.myjecs.entity.KeywordType">
            <id property="keyword_type_id" column="keyword_type_id" jdbcType="INTEGER"/>
            <result property="type_id" column="type_id" jdbcType="INTEGER"/>
            <result property="keyword_mes" column="keyword_mes" jdbcType="VARCHAR"/>
            <result property="answer" column="answer" jdbcType="VARCHAR"/>
            <result property="type_number" column="type_number" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        keyword_type_id,type_id,keyword_mes,
        answer,type_number
    </sql>
</mapper>
