<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wlld.myjecs.mapper.KeywordSqlMapper">

    <resultMap id="BaseResultMap" type="com.wlld.myjecs.entity.Keyword_sql">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="sentence_id" column="sentence_id" jdbcType="INTEGER"/>
            <result property="keyword" column="keyword" jdbcType="VARCHAR"/>
            <result property="keyword_type_id" column="keyword_type_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,sentence_id,keyword,
        keyword_type_id
    </sql>
</mapper>
