<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wlld.myjecs.mapper.QaMapper">

    <resultMap id="BaseResultMap" type="com.wlld.myjecs.entity.Qa">
        <result property="question" column="question" jdbcType="VARCHAR"/>
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="answer" column="answer" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        question,id,answer
    </sql>

    <select id="findAll" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" />
        from q_a order by id desc
    </select>

    <delete id="delById" parameterType="integer">
        delete from q_a where  id=#{qaId}
    </delete>
    <insert id="insert">
        insert into q_a
            ( question,answer)
        values (#{question,jdbcType=VARCHAR},#{answer,jdbcType=VARCHAR})
    </insert>

</mapper>
