<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wlld.myjecs.mapper.SentenceMapper">

    <resultMap id="BaseResultMap" type="com.wlld.myjecs.entity.Sentence">
            <id property="sentence_id" column="sentence_id" jdbcType="INTEGER"/>
            <result property="word" column="word" jdbcType="VARCHAR"/>
            <result property="type_id" column="type_id" jdbcType="INTEGER"/>
            <result property="date" column="date" jdbcType="VARCHAR"/>
            <result property="adminID" column="adminID" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        sentence_id,word,type_id,
        date,adminID
    </sql>
</mapper>
